@charset "UTF-8";

h1{
    text-align:center;
    font-size: 50pt;
}

table#cardapio{
    border:2px solid rgb(44,44,44);
    border-spacing: 0px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}

table#cardapio th{
    font-size: 30pt;
}

table#cardapio td{
    font-size: 35px;
}

table#cardapio th{
    background-color: rgba(169, 169, 169, .7);
}

table#cardapio td#produto{
    background-color: rgba(192, 192, 192, .7);
}

table#cardapio td#valor{
    background-color: rgba(211, 211, 211, .7);
}

table#cardapio td, th{
    border-top: 2px solid rgb(44,44,44);
    height:60px;
    padding:10px;
    text-align: center;
    vertical-align: middle;

    
}
